<script type="text/javascript" src="{{ 'jquery_accordion.js' | asset_url }}" defer></script>

<h1 style="text-align: center; color: #a99ef6; font-size: 50px; line-height: 42px">{{ section.settings.title }}</h1>
<div class="collections">
  <div class="tab">
    <span class="collapsible1" id="collapsible-title">
      {{ section.settings.collection1.title }}
    </span>
    <span class="collapsible2" id="collapsible-title">
      {{ section.settings.collection2.title }}
    </span>
  </div>
  <div class="collapsible-content">
    <div class="content1">
      <!-- {{ section.settings.collection1.description }} -->
      {% for product in section.settings.collection1.products %}
        <div class="products">
          <div class="cards">
            <a href="{{ product.url }}">
              <img
                src="{{ product.featured_image | img_url: 'master' }}"
                alt="{{ product.title }}"
                height=""
                width=""
                style="width:100%"
                loading="lazy"
              >
              <h2>{{ product.title | truncate: 33 }}</h2>
            </a>
            <p>{{ product.price | money }}</p>
            <p class="product_desc" style="text-align: justify;">{{ product.description | truncate: 150 }}</p>

            <!-- Form for add to cart button -->
            <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              <div>
                <button class="addtocart" type="submit" name="add">Add to cart</button>
              </div>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="collapsible-content">
    <div class="content2">
      <!-- {{ section.settings.collection2.description }} -->
      {% for product in section.settings.collection2.products %}
        <div class="products">
          <div class="cards">
            <a href="{{ product.url }}">
              <img
                src="{{ product.featured_image | img_url: 'master' }}"
                alt="{{ product.title }}"
                height=""
                width=""
                style="width:100%"
                loading="lazy">
              <h2>{{ product.title | truncate: 33 }}</h2>
            </a>
            <p>{{ product.price | money }}</p>
            <p class="product_desc" style="text-align: justify;">{{ product.description | truncate: 150 }}</p>
            <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              <div>
                <button class="addtocart" type="submit" name="add">Add to cart</button>
              </div>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  * {
    font-size: 16px;
  }

  .tab {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .collapsible-content {
    padding: 5px;
  }

  #collapsible-title {
    display: flex;
  }
  .collapsible1 {
    text-transform: uppercase;
    cursor: pointer;
    color: #707070;
    margin: 10px 15px;
    padding-bottom: 5px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
  }

  .product_desc {
    padding: 0 10px;
  }
  .active,
  .collapsible1:hover {
    color: #a99ef6;
    border-bottom: 4px solid #a99ef6;
  }
  .nayaClass1 {
    display: grid !important;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
  }
  .content1 {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    display: none;
    transition: max-height 0.5s ease-out;
  }
  .content1 .products {
    padding-right: 16px;
    padding-bottom: 16px;
  }

  .collapsible2 {
    text-transform: uppercase;
    cursor: pointer;
    color: #707070;
    margin: 10px 15px;
    padding-bottom: 5px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
  }

  .active,
  .collapsible2:hover {
    color: #a99ef6;
    border-bottom: 4px solid #a99ef6;
  }
  .nayaClass2 {
    display: grid !important;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
  }
  .content2 {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    display: none;
    transition: max-height 0.5s ease-out;
  }
  .content2 .products {
    padding-right: 16px;
    padding-bottom: 16px;
  }

  .cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 360px;
    margin: 10px !important;
    text-align: center;
    font-family: arial;
  }
  .cards a {
    text-decoration: none;
  }

  .price {
    color: grey;
    font-size: 22px;
  }
  .cards .addtocart {
    border: none;
    outline: 0;
    padding: 10px;
    color: #fbf7f7;
    background-color: #212529;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  .cards button:hover {
    opacity: 0.6;
  }
</style>
{% schema %}
{
  "name": "Custom Collection Section",
  "tag": "section",
  "class": "collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection1",
      "label": "Collection1"
    },
    {
      "type": "collection",
      "id": "collection2",
      "label": "Collection2"
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<script>
  document.querySelector('.collapsible1').addEventListener('click', function () {
    document.querySelector('.content1').classList.toggle('nayaClass1');
  });

  document.querySelector('.collapsible2').addEventListener('click', function () {
    document.querySelector('.content2').classList.toggle('nayaClass2');
  });
</script>
